@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?81139049');
  src: url('../font/fontello.eot?81139049#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?81139049') format('woff2'),
       url('../font/fontello.woff?81139049') format('woff'),
       url('../font/fontello.ttf?81139049') format('truetype'),
       url('../font/fontello.svg?81139049#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?81139049#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

 [class^="icon-"]:after, [class*=" icon-"]:after {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

 
.icon-percentage:before { content: '\e800'; } /* '' */
.icon-responsive:before { content: '\e801'; } /* '' */
.icon-user-plus:before { content: '\e802'; } /* '' */
.icon-child:before { content: '\e803'; } /* '' */
.icon-th:before { content: '\e804'; } /* '' */
.icon-eye-1:before { content: '\e805'; } /* '' */
.icon-comment:before { content: '\e806'; } /* '' */
.icon-cog-alt:before { content: '\e807'; } /* '' */
.icon-wrench:before { content: '\e808'; } /* '' */
.icon-calendar-1:before { content: '\e809'; } /* '' */
.icon-zoom-in-1:before { content: '\e80a'; } /* '' */
.icon-zoom-out:before { content: '\e80b'; } /* '' */
.icon-right-hand:before { content: '\e80c'; } /* '' */
.icon-paper-plane-empty:before { content: '\e80d'; } /* '' */
.icon-gift:before { content: '\e80e'; } /* '' */
.icon-chart-bar:before { content: '\e80f'; } /* '' */
.icon-chart-line:before { content: '\e810'; } /* '' */
.icon-credit-card:before { content: '\e811'; } /* '' */
.icon-plug:before { content: '\e812'; } /* '' */
.icon-brush:before { content: '\e813'; } /* '' */
.icon-user:before { content: '\e814'; } /* '' */
.icon-users:before { content: '\e815'; } /* '' */
.icon-eye:before { content: '\e816'; } /* '' */
.icon-thumbs-up:before { content: '\e817'; } /* '' */
.icon-quote:before { content: '\e818'; } /* '' */
.icon-bell:before { content: '\e819'; } /* '' */
.icon-doc-text:before { content: '\e81a'; } /* '' */
.icon-calendar:before { content: '\e81b'; } /* '' */
.icon-popup:before { content: '\e81c'; } /* '' */
.icon-down-open:before { content: '\e81d'; } /* '' */
.icon-left-open:before { content: '\e81e'; } /* '' */
.icon-right-open:before { content: '\e81f'; } /* '' */
.icon-shuffle:before { content: '\e820'; } /* '' */
.icon-chart-pie:before { content: '\e821'; } /* '' */
.icon-ticket:before { content: '\e822'; } /* '' */
.icon-megaphone:before { content: '\e823'; } /* '' */
.icon-key:before { content: '\e824'; } /* '' */
.icon-tablet:before { content: '\e825'; } /* '' */
.icon-police:before { content: '\e826'; } /* '' */
.icon-android:before { content: '\e827'; } /* '' */
.icon-apple:before { content: '\e828'; } /* '' */
.icon-lightbulb:before { content: '\e829'; } /* '' */
.icon-magic:before { content: '\e82a'; } /* '' */
.icon-users-1:before { content: '\e82b'; } /* '' */
.icon-unlink:before { content: '\e82c'; } /* '' */
.icon-volume-up:before { content: '\e82d'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e82e'; } /* '' */
.icon-arrows-cw:before { content: '\e82f'; } /* '' */
.icon-up-hand:before { content: '\e830'; } /* '' */
.icon-mobile:before { content: '\e831'; } /* '' */
.icon-comment-1:before { content: '\e832'; } /* '' */
.icon-wallet:before { content: '\e833'; } /* '' */
.icon-basket:before { content: '\e834'; } /* '' */
.icon-ok:before { content: '\e835'; } /* '' */
.icon-ok-1:before { content: '\e836'; } /* '' */
.icon-menu:before { content: '\e837'; } /* '' */
.icon-chat:before { content: '\e838'; } /* '' */
.icon-reply:before { content: '\e839'; } /* '' */
.icon-up-open:before { content: '\e83a'; } /* '' */
.icon-sort:after { content: '\e83b'; } /* '' */
.icon-sort-down:after { content: '\e83c'; } /* '' */
.icon-sort-up:after { content: '\e83d'; } /* '' */