@import 'global/global.less';

body{background: linear-gradient(to right, #E6E6E6, #b3b3b3,#8c8c8c); margin: 0; }

#container { width: 1400px; margin:0 auto; overflow: hidden;}
#header { height: 150px; background-color: #e6e6e6; position: fixed;  width: 1400px; top: 0px; z-index: 1;}
#nav-bar{ height: 50px; background-color: #8c8c8c; position: relative;}
.left { float:left;}
#logo {width:100px; height:100px; background:url(../img/nhl_logo.png); background-size: 100px 100px; background-repeat: no-repeat; position: absolute;left: 90%;}
.right { float:right;}
a:hover{ background-color:#404040;}
.team-selection {position: absolute; }
.team-selection , select ,p{display:inline-block; }
.calendar_animation{    -webkit-animation: fadeIn 1s;animation: fadeIn 1s;};
.calendar_icon{position: fixed; margin-left: 590px;color: white;font-size: 20px; margin-top: 20px;}
.calendar {.calendar_animation;width: 500px;background-color:#252525; margin-bottom: 50px; margin-top: 200px; margin-left: 450px; border: solid 2px #0fa1e0; color: white; display: none; position: absolute; z-index: 1;
    h1 {font-size: 20px; color:white; text-align: center; padding-top: 10px;} 
    p {font-size: 20px; color:white; text-align: justify; padding-left: 10px; padding-right: 10px; text-align: center; margin-bottom: 10px;}
    .game_status{font-size: 16px; margin-top: 10px;}
    .calendar_logo{height: 100px; width: 100px; margin-right: -100px; margin-top: 20px; }
    .calendar_date{position: absolute;padding:0;}
    .title{text-align: center;}
    .calendar_content{margin-left: 100px; display: inline-block;text-align: center; display: inline;}
    .home{float:left; width: 200px; .st_home{color:green; width: 200px;}}
    .away{float:right;width: 200px; .st_away{color:red; width: 200px;}}
}
.content{position: relative; background: white;}
.active{background-color:black;}
.active  a:hover{background-color:black;}
select.favourite_menu_dropdown option {background-repeat:no-repeat;background-position:bottom left;padding-left:20px;}

.team_stats_list{color: black;background-color: #FFFFFF;}
.team_stats_table{width: auto; display: inline; h1{text-align: center; font-size: 30px; margin-bottom: 30px;}}
table, td, th {    
    border: 1px solid #ddd;
    text-align: center;
}

table {border-collapse: collapse;width: 100%;th, td {padding: 2px;font-size: 15px;}}
table tr:hover{background-color: #FBF8E9; }
thead tr th {background-color: #E4EEFB; }
table th, table td{font-size: 12px;font-family: "Verdana";}
.regular_season_list{margin-top: 130px;position: fixed;  li a {font-size: 14px;  text-align: center; } }
select#fav_team_drop {
option{background-size: 20px 15px;}
option[value="Anaheim"] {background-image:url(../img/ducks.png);}
option[value="Arizona"] {background-image:url(../img/arizona.png);}
option[value="Buffalo"] {background-image:url(../img/buffalo.png);}
option[value="Boston"] {background-image:url(../img/boston.png);}
option[value="Calgary"] {background-image:url(../img/flames.png);}
option[value="Carolina"] {background-image:url(../img/carolina.png);}
option[value="Chicago"] {background-image:url(../img/hawks.png);}
option[value="Colorado"] {background-image:url(../img/avalanche.png);}
option[value="Columbus"] {background-image:url(../img/columbus.png);}
option[value="Dallas"] {background-image:url(../img/dalas.png);}
option[value="Detroit"] {background-image:url(../img/detroit.png);}
option[value="Edmonton"] {background-image:url(../img/oilers.png);}
option[value="Florida"] {background-image:url(../img/panters.png);}
option[value="Kings"] {background-image:url(../img/kings.png);}
option[value="Minesota"] {background-image:url(../img/wild.png);}
option[value="Montreal"] {background-image:url(../img/montreal.png);}
option[value="Nashvile"] {background-image:url(../img/predators.png);}
option[value="Jersey"] {background-image:url(../img/devils.png);}
option[value="Islanders"] {background-image:url(../img/islanders.png);}
option[value="Rangers"] {background-image:url(../img/rangers.png);}
option[value="Ottawa"] {background-image:url(../img/senators.png);}
option[value="Philadelphia"] {background-image:url(../img/flyers.png);}
option[value="Pitsburgh"] {background-image:url(../img/penguins.png);}
option[value="Sharks"] {background-image:url(../img/sharks.png);}
option[value="Blues"] {background-image:url(../img/blues.png);}
option[value="Lightning"] {background-image:url(../img/tampa.png);}
option[value="Toronto"] {background-image:url(../img/toronto.png);}
option[value="Vancouver"] {background-image:url(../img/canucks.png);}
option[value="Washington"] {background-image:url(../img/capitals.png);}
option[value="Winnipeg"] {background-image:url(../img/jets.png);}
}
.data{padding-bottom: 100px;}
.leaders {.calendar;clear: right;}
.left-columns{float:left; margin-top: 50px;}
#team-data{ width: 1200px; height: 50px; margin-bottom: 50px; .team-logo{margin-left: 50px;} position:fixed; z-index:1;visibility: hidden; }


.small_tables{ float: left;}


.scrollable_table_leaders{  margin-bottom: 60px;margin-right: 60px; box-shadow: 0px 0px 6px 0px #888888;}


#images { white-space: nowrap; margin-top:5px; margin-bottom:5px; text-align: center;}
.header_logo_top{width: 34px;height: 30px;margin-left: 5px;}
.header_logo_top {
    border:1px solid transparent;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
 
.transition {
    -webkit-transform: scale(1.5); 
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    overflow: hidden;
}


#cssmenu ul,
#cssmenu li,
#cssmenu span,
#cssmenu a {
  margin: 0;
  padding: 0;
  position: relative;
}
#cssmenu {
  background: #141414;
  background: -moz-linear-gradient(top, #333333 0%, #141414 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #141414));
  background: -webkit-linear-gradient(top, #333333 0%, #141414 100%);
  background: -o-linear-gradient(top, #333333 0%, #141414 100%);
  background: -ms-linear-gradient(top, #333333 0%, #141414 100%);
  background: linear-gradient(to bottom, #333333 0%, #141414 100%);
  line-height: 1;
  border-bottom: 2px solid #0fa1e0;
  width: auto;
  display: flex;
justify-content: center;
}
#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}
#cssmenu a {
  background: #141414;
  background: -moz-linear-gradient(top, #333333 0%, #141414 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #141414));
  background: -webkit-linear-gradient(top, #333333 0%, #141414 100%);
  background: -o-linear-gradient(top, #333333 0%, #141414 100%);
  background: -ms-linear-gradient(top, #333333 0%, #141414 100%);
  background: linear-gradient(to bottom, #333333 0%, #141414 100%);
  color: #ffffff;
  display: block;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  padding: 19px 20px;
  text-decoration: none;
  font-weight: 700;
}
#cssmenu ul {
  list-style: none;
}
#cssmenu > ul > li {
  display: inline-block;
  float: left;
  margin: 0;
}
#cssmenu.align-center {
  text-align: center;
}
#cssmenu.align-center > ul > li {
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul {
  float: right;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu > ul > li > a {
  color: #ffffff;
  font-size: 13px;
}
#cssmenu > ul > li:hover:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #0fa1e0;
  margin-left: -10px;
}
#cssmenu > ul > li:first-child > a {
  border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
}
#cssmenu.align-right > ul > li:first-child > a,
#cssmenu.align-center > ul > li:first-child > a {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
#cssmenu.align-right > ul > li:last-child > a {
  border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a {
  color: #ffffff;
  box-shadow: inset 0 0 3px #000000;
  -moz-box-shadow: inset 0 0 3px #000000;
  -webkit-box-shadow: inset 0 0 3px #000000;
  background: #070707;
  background: -moz-linear-gradient(top, #262626 0%, #070707 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #262626), color-stop(100%, #070707));
  background: -webkit-linear-gradient(top, #262626 0%, #070707 100%);
  background: -o-linear-gradient(top, #262626 0%, #070707 100%);
  background: -ms-linear-gradient(top, #262626 0%, #070707 100%);
  background: linear-gradient(to bottom, #262626 0%, #070707 100%);
}
#cssmenu .has-sub {
  z-index: 1;
}
#cssmenu .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub ul {
  display: none;
  position: absolute;
  width: 200px;
  top: 100%;
  left: 0;
}
#cssmenu.align-right .has-sub ul {
  left: auto;
  right: 0;
}
#cssmenu .has-sub ul li {
  margin-bottom: -1px;
}
#cssmenu .has-sub ul li a {
  background: #0fa1e0;
  border-bottom: 1px dotted #31b7f1;
  font-size: 11px;
  filter: none;
  display: block;
  line-height: 120%;
  padding: 10px;
  color: #ffffff;
}
#cssmenu .has-sub ul li:hover a {
  background: #0c7fb0;
}
#cssmenu ul ul li:hover > a {
  color: #ffffff;
}
#cssmenu .has-sub .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub .has-sub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}
#cssmenu.align-right .has-sub .has-sub ul,
#cssmenu.align-right ul ul ul {
  left: auto;
  right: 100%;
}
#cssmenu .has-sub .has-sub ul li a {
  background: #0c7fb0;
  border-bottom: 1px dotted #31b7f1;
}
#cssmenu .has-sub .has-sub ul li a:hover {
  background: #0a6d98;
}
#cssmenu ul ul li.last > a,
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul ul li.last > a,
#cssmenu ul ul ul li:last-child > a,
#cssmenu .has-sub ul li:last-child > a,
#cssmenu .has-sub ul li.last > a {
  border-bottom: 0;
}




.frame {  padding:30px 20px; position:relative;  }
.ticket-frame {.frame; width: 240px;  h4{color:black; font-size: 16px; text-align: center; margin-bottom: 10px;}  margin-right:35px; margin-bottom: 50px; box-shadow: 0px 0px 6px 0px #888888;}
.white-circle {
  width: 70px; height: 55px;  position:absolute; left:50%; margin-left:-32px; top: -32.5px; line-height: 65px; text-align: center;
}
.frame-paragraph{text-align: left; p{color:black; font-size: 16px;} display: inline-table; }
.frame-paragraph p:hover{font-weight: 700;}
.columns {margin-bottom: 72px;margin-top: 200px;position: static; text-align: center; margin-left: 5px;}

button{margin-top: 200px;}
.admin_button{margin-top: 0;}


.controls{
  padding: 2%;
  background: #333;
  color: #eee;
}

button{
  display: inline-block;
  padding: .4em .8em;
  background: white;
  color: black;
  border-radius: 4px;
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
}


button.active{
  background: #E6E6E6;
  color:black;
}

button:focus{
  outline: 0 none;
}

button + label{
  margin-left: 1em;
}



.container .mix{

  display: none;
}

.container .mix .column-3{
  display: none;
}



.sort_buttons{position: static;
width: 100%;
margin: 0 auto;
margin-bottom: -120px;
text-align: center;}
.sort_buttons_leaders{.sort_buttons;margin-top: -200px; }

.leaders_container{width: 1460px;}



.parent{
      position: relative;
   
  
    overflow: hidden;}
.child{
 
   overflow-y: scroll;
}
#maincontainer {
width: 400px;
max-height: 440px;
overflow: hidden;
}

#childcontainer {
position: relative;
width: 400px;
max-height: 440px;
overflow: auto;
}
.fixed_header{position: relative;}

#maincontainer_big_table{#maincontainer; margin: 0 auto; width: 1200px; box-shadow: 0px 0px 6px 0px #888888; max-height: none; margin-bottom: 50px; overflow: auto;}
#childcontainer_big_table{#childcontainer;width: 1200px; max-height: none;}
#maincontainer_small_table{#maincontainer_big_table; height: auto;}
#childcontainer_small_table{#childcontainer_big_table;height: auto;}
.specific_team_heading{text-align: center;font-size: 25px;margin-top: 10px; margin-bottom: -10px; text-shadow: black 1px 1px;}


.selected_team_info{width: auto; height:auto; background-color: white;}
.sort_buttons_specific_team{.sort_buttons; margin-bottom: 40px; button{margin-top: 20px;} }

.selected_team_info{h1{font-size: 25px;text-align: center; padding-top: 20px;}}
a:hover{background: none;}
.light-table-filter{border:none;width: 100%;text-align: center;position: relative;}

.selected_header{text-align: center;font-size: 28px;margin-top: 10px;}
.sort_buttons_division_standing{.sort_buttons_specific_team};

.info_header{background-color: #E4EEFB; font-weight:700;}
.info_header:hover{background-color: #E4EEFB;}
.table_reset{margin-top: 0; position: absolute;margin-top: -40px;left: 97px;}
.admin_table{margin-left: 5px;}

@media screen and (max-width:1440px) {
#header {width: 1010px;}
.header_logo_top {width: 27px; height: 26px; margin-left: 0px;}
#container{width: 1010px;}
#maincontainer_big_table{width: 1000px;}
#maincontainer_small_table{width: 1000px;}
.calendar{margin-left: 250px;}
.table_reset {left:10px;}
.leaders_container{width: 1000px;}
.scrollable_table_leaders{margin-left: 20px; margin-right: 0px; }
#maincontainer{width: 300px;}
#childcontainer{width: 300px;}
}