.container-filter {
	-webkit-backface-visibility: hidden;
}

.container-filter:after{
	content: '';
	display: inline-block;
	width: 100%;
}

.container-filter .mix{
	display: none;
}

.container-filter .mix:after{
	content: attr(data-myorder);
	display: inline-block;
	vertical-align: top;
}

.container-filter .mix:before{
  content: '';
  display: inline-block;
}