html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {margin: 0;padding: 0;border: 0;font-size: 100%;vertical-align: baseline;}*:focus{outline: none;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display: block;}body{line-height: 1.1}a{cursor:pointer;text-decoration:none}a:hover{text-decoration:none}ul{list-style: none;}ol{margin-left:20px;margin-bottom:20px;}ol li{margin-bottom:10px;}blockquote,q{quotes: none;}hr{height:1px;border:none;margin:0}blockquote:before,blockquote:after,q:before,q:after{content:'';content: none;}table{border-spacing: 0;border-collapse: collapse;}iframe{border:none}

.cf_after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.cf:after { .cf_after; }
.dl (@time: 0) { -webkit-animation-delay: @time; animation-delay: @time; }
.op (@opacity: 0.5) { -webkit-opacity:@opacity; -moz-opacity:@opacity; opacity:@opacity; }
.bs (@type: border-box) { -webkit-box-sizing:@type; -moz-box-sizing:@type; box-sizing:@type; }
.ts (@speed: 0.3s, @type: all, @ease: ease-in-out){ -webkit-transition: @type @speed @ease; -moz-transition: @type @speed @ease; -o-transition: @type @speed @ease; transition: @type @speed @ease; }
.ph (@rules) { &::-webkit-input-placeholder {@rules(); } &:-moz-placeholder {@rules(); } &::-moz-placeholder {@rules(); } &:-ms-input-placeholder {@rules(); } }
.tr (@x, @y:0) { -webkit-transform:translate(@x, @y); -moz-transform:translate(@x, @y); -ms-transform:translate(@x, @y); -o-transform:translate(@x, @y); }
.bsh (@string) { -webkit-box-shadow: @string; -moz-box-shadow: @string; box-shadow: @string; }
.gr (@startColor: #eee, @endColor: white) {background-color: @startColor; background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor)); background: -webkit-linear-gradient(top, @startColor, @endColor); background: -moz-linear-gradient(top, @startColor, @endColor); background: -ms-linear-gradient(top, @startColor, @endColor); background: -o-linear-gradient(top, @startColor, @endColor); }
.gl (@color: @accentcol) {.gr((@color)+#111, (@color)-#111); border:1px solid (@color)-#111; box-shadow:0 1px 1px 0px rgba(0,0,0,0.3), inset 0 1px 0px 0px @color+#444; }
.gl2 (@color: @accentcol) { .gl; border:1px solid (@color)-#221; box-shadow:0 1px 1px 0px rgba(0,0,0,0.3), inset 0 1px 0px 0px @color+#555, inset 0 -1px 0px 0px (@color)-#333; }
.rotate (@deg) {-webkit-transform: rotate(@deg); -moz-transform: 	 rotate(@deg); -ms-transform: 		 rotate(@deg); -o-transform: 		 rotate(@deg); }
.rotate-important (@deg) {-webkit-transform: rotate(@deg)!important; -moz-transform: 	 rotate(@deg)!important; -ms-transform: 		 rotate(@deg)!important; -o-transform: 		 rotate(@deg)!important; }
.noselect {-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

@import 'animate.less';