<html>
    <head>
        <title>Kvalifikācijas darbs</title>
        <meta charset="utf-8"/>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/less" href="../css/front.less">
        <link rel="stylesheet" type="text/less" href="../css/global/global.less">
        <link href="../css/fontello.css" rel="stylesheet" type="text/css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js" type="text/javascript"></script>
        <script src="../js/mixitup.js" type="text/javascript"></script>
        <script src="../js/functions.js" type="text/javascript"></script>
        <script src="../js/sorttable.js" type="text/javascript"></script>
        
    </head>
    <body> 
        <div id="container">
          <div class="content">
 
            <div id="header">
            
              <div id="images">
                <a href="/team/ANA"><img src="../img/ducks.png" class="header_logo_top" attr="ANAHEIM DUCKS"></a>
                <a href="/team/ARI"><img src="../img/arizona.png" class="header_logo_top" attr="ARIZONA COYOTES"></a>
                <a href="/team/BOS"><img src="../img/boston.png" class="header_logo_top" attr="BOSTON BRUINS"></a>
                <a href="/team/BUF"><img src="../img/buffalo.png" class="header_logo_top" attr="BUFFALO SABRES"></a>
                <a href="/team/CGY"><img src="../img/flames.png" class="header_logo_top" attr="CALGARY FLAMES"></a>
                <a href="/team/CAR"><img src="../img/carolina.png" class="header_logo_top" attr="CAROLINA HURRICANES"></a>
                <a href="/team/CHI"><img src="../img/hawks.png" class="header_logo_top" attr="CHICAGO BLACKHAWKS"></a>
                <a href="/team/COL"><img src="../img/avalanche.png" class="header_logo_top" attr="COLORADO AVALANCHE">
                <a href="/team/CBJ"><img src="../img/columbus.png" class="header_logo_top" attr="COLUMBUS BLUE JACKETS"></a>
                <a href="/team/DAL"><img src="../img/dalas.png" class="header_logo_top" attr="DALLAS STARS"></a>
                <a href="/team/DET"><img src="../img/detroit.png" class="header_logo_top" attr="DETROIT RED WINGS"></a>
                <a href="/team/EDM"><img src="../img/oilers.png" class="header_logo_top" attr="EDMONTON OILERS"></a>
                <a href="/team/FLA"><img src="../img/panters.png" class="header_logo_top" attr="FLORIDA PANTHERS"></a>
                <a href="/team/LAK"><img src="../img/kings.png" class="header_logo_top" attr="LOS ANGELES KINGS"></a>
                <a href="/team/MIN"><img src="../img/wild.png" class="header_logo_top" attr="MINNESOTA WILD"></a>
                <a href="/team/MTL"><img src="../img/montreal.png" class="header_logo_top" attr="MONTREAL CANADIENS"></a>
                <a href="/team/NSH"><img src="../img/predators.png" class="header_logo_top" attr="NASHVILLE PREDATORS"></a>
                <a href="/team/NJD"><img src="../img/devils.png" class="header_logo_top" attr="NEW JERSEY DEVILS"></a>
                <a href="/team/NYI"><img src="../img/islanders.png" class="header_logo_top" attr="NEW YORK ISLANDERS"></a>
                <a href="/team/NYR"><img src="../img/rangers.png" class="header_logo_top" attr="NEW YORK RANGERS"></a>
                <a href="/team/OTT"><img src="../img/senators.png" class="header_logo_top" attr="OTTAWA SENATORS"></a>
                <a href="/team/PHI"><img src="../img/flyers.png" class="header_logo_top" attr="PHILADELPHIA FLYERS"></a>
                <a href="/team/PIT"><img src="../img/penguins.png" class="header_logo_top" attr="PITTSBURGH PENGUINS"></a>
                <a href="/team/SJS"><img src="../img/sharks.png" class="header_logo_top" attr="SAN JOSE SHARKS"></a>
                <a href="/team/STL"><img src="../img/blues.png" class="header_logo_top" attr="ST. LOUIS BLUES"></a>
                <a href="/team/TBL"><img src="../img/tampa.png" class="header_logo_top" attr="TAMPA BAY LIGHTNING"></a>
                <a href="/team/TOR"><img src="../img/toronto.png" class="header_logo_top" attr="TORONTO MAPLE LEAFS"></a>
                <a href="/team/VAN"><img src="../img/canucks.png" class="header_logo_top" attr="VANCOUVER CANUCKS"></a>
                <a href="/team/WSH"><img src="../img/capitals.png" class="header_logo_top" attr="WASHINGTON CAPITALS"></a>
                <a href="/team/WPG"><img src="../img/jets.png" class="header_logo_top" attr="WINNIPEG JETS"></a>
              </div>

                  <div id="nav-bar">
                    <div class="right">
                      <div id="logo"></div>
                    </div>
                      <div id='cssmenu'>
                      <ul>
                         <li><a href='/'><span>HOME</span></a></li>
                         <li class='has-sub'><a href='#'><span>REGULAR SEASON</span></a>
                            <ul>
                               <li><a href='/league_standings'><span>LEAGUE STANDINGS</span></a>
                               </li>
                               <li><a href='/league_leaders'><span>LEAGUE LEADERS</span></a>
                               </li>
                               <li class='has-sub'><a href='#'><span>TEAM STATISTICS</span></a>
                                  <ul>
                                     <li><a href='/basic_stats'><span>BASIC TEAM STATISTICS</span></a></li>
                                     <li class='last'><a href='/advanced_stats'><span>ADVANCED TEAM STATISTICS</span></a></li>
                                  </ul>
                               </li>
                               <li class='has-sub'><a href='#'><span>PLAYER STATISTICS</span></a>
                                  <ul>
                                     <li><a href='/skaters_basic_stats'><span>SKATER BASIC STATISTICS</span></a></li>
                                     <li><a href='/skaters_advanced_stats'><span>SKATER ADVANCED STATISTICS</span></a></li>
                                     <li><a href='/skaters_toi_stats'><span>SKATER TOI STATISTICS</span></a></li>
                                     <li><a href='/goalies_stats'><span>GOALIE STATISTICS</span></a></li>
                                  </ul>
                               </li>
                            </ul>
                         </li>
                         <li class='has-sub'><a href=''><span>PLAYOFF</span></a>
                            <ul>
                             <li><a href='/league_leaders_playoff'><span>LEAGUE LEADERS</span></a>
                             <li><a href='/playoff_series_stats'><span>TEAM STATISTICS</span></a>
                             <li class='has-sub'><a href='#'><span>PLAYER STATISTICS</span></a>
                                <ul>
                                   <li><a href='/skaters_basic_stats_playoffs'><span>SKATER BASIC STATISTICS</span></a></li>
                                   <li><a href='/skaters_advanced_stats_playoffs'><span>SKATER ADVANCED STATISTICS</span></a></li>
                                   <li><a href='/skaters_toi_stats_playoffs'><span>SKATER TOI STATISTICS</span></a></li>
                                   <li><a href='/goalies_stats_playoffs'><span>GOALIE STATISTICS</span></a></li>
                                </ul>
                             </li>
                             
                          </ul></li>
                         <li><a href='' class="icon-calendar-1 calendar_icon" onMouseOver="show_calendar();" onMouseOut="hide_calendar();"><span></span></a></li>
                      </ul>
                      </div>
                  </div>
                 <h1 class="selected_header"></h1>
{% block specific_team_data %}  

{% endblock  specific_team_data %}        

              </div>
                <div class="calendar">
                  <p class="calendar_date">{{calendar_data[0][0]}}</p>
                  <img src="../img/playoff_logo.png" class="calendar_logo">
                  <div class="calendar_content">
                    <div class="home">
                      <p class="game_status st_home">HOME</p>
                        {% for index in calendar_data|keys %}
                          <p>{{calendar_data[index][2]}}<br>{{calendar_prognosis_data[index][0]|number_format(2)}}%</p>
                        {% endfor %}
                    </div>
                      <div class="away st_away">
                        <p class="game_status st_away">AWAY</p>
                          {% for index in calendar_data|keys %}
                            <p>{{calendar_data[index][1]}}<br>{{calendar_prognosis_data[index][1]|number_format(2)}}%</p>
                          {% endfor %}
                      </div>
                    </div>
                </div>
                  <div class="sort_buttons">
                    <button class="filter" data-filter=".category-m">METROPOLIAN</button>
                    <button class="filter" data-filter=".category-p">PACIFIC</button>
                    <button class="filter" data-filter=".category-a">ATLANTIC</button>
                    <button class="filter" data-filter=".category-c">CENTRAL</button>
                    <button class="filter" data-filter=".category-all">ALL</button>
                  </div>
                      <div id="Container" class="container">
                        <div class="container_main">
                          <div class="columns">
                            {% for index in franchise_data|keys %}
                              <div class="ticket-frame mix category-{{conference_id[index]}} category-all">
                               <a href="/team/{{reference_to_info[index]}}"><img src="{{images_main[index]}}" class="white-circle"></a>
                                <h4>{{franchise_data[index]['Franchise']|upper}}</h4>
                                <div class="frame-paragraph">
                                  {% for values in franchise_data[index]|keys %}
                                    {% if values != "Franchise" and values != "Lg" %}
                                      <p>{{values|replace({'From':'First year of NHL career', 'To':'Last year of NHL career', 'Yrs':'Total years in NHL', 'GP':'Games played', 'W':'Wins', 'L':'Losses', 'T':'Ties', 'OL':'Overtime/shootout Losses', 'PTS':'Points', 'PTS%':'Points percentage', 'Yrs Plyf':'Years team made the playoffs', 'Div':'Finished first in the division', 'Conf':'Won the playoff conference championship', 'Champ':'Won the league championship', 'St Cup':'Won the Stanley Cup'})}} : {{franchise_data[index][values]}}</p>
                                      <br>
                                    {% endif %}
                                  {% endfor %}
                                </div>
                              </div>
                            {% endfor %}
                          </div>
                        </div>
                      </div>
{% block main %}

{% endblock main %}
  </div>
</div>

    </body>
</html>
