{% extends '_.twig' %}
{% block specific_team_data %}  
<p>Hello, Admin!</p>
<button onclick="window.location.href='http://logout:logout@nhl.dev'" class="admin_button">Logout</button>
{% endblock  specific_team_data %}   

{% block main %}
	
<table class="admin_table">
<thead>
	<th>Table name</th>
	<th>last updated at</th>
	<th>update</th>
</thead>
		<tbody>

			 {% for index in table_names %}
				<tr>
				<td>{{index}}</td>
				<td>{{last_updated_at[loop.index0]|replace({'[':'', ']': ''})}}</td>
				<td><a href="/admin/{{index}}">update</a><td>
				</tr>
			{% endfor %}
	
		</tbody> 
</table>
{% endblock  main %}  