{% extends '_.twig' %}

{% block main %}
  <div class="data" id="team_stats_reg">
    <div class="team_stats_table">
      <div class="scrollable_table">


        <div id="maincontainer_small_table">
          
  
      <input type="search" class="light-table-filter fixed_header" data-table="order-table" placeholder="Search...">
      <button class="table_reset">Reset sorting</button>
        <table class="team_stats_list order-table sortable">
          <thead class="fixed_header">
            {% for keys in series_stats[0]|keys %}
            {% if  keys != "Rk" %}
            <th>{{keys|upper}}</th>
            {% endif %}
            {% endfor %}
          </thead>
            <tbody>
              {% for index in series_stats|keys %}
              <tr>
              {% for key in series_stats[index]|keys %}
             {% if  key != "Rk" %}
              <td>{{series_stats[index][key]}}</td>
             {% endif %}
              {% endfor %}
              </tr>
              {% endfor %}  
            </tbody>                         
        </table>
      
        </div>
      </div>
    </div>
  </div>


{% endblock %}