{% extends '_.twig' %}

{% block specific_team_data %}
<h1 class="specific_team_heading">{{heading}}</h1>
{% endblock %}
{% block main %}
<div class="selected_team_info" id="specific_team_data">
    <div class="sort_buttons_specific_team">
    {% if league_standings != 1 %}
      <button>PLAYER BASIC STATISTICS</button>
      <button>PLAYER ADVANCED STATISTICS</button>
      <button>TOI STATISTICS</button>
      <button>GOALIE STATISTICS</button>
      <button>TEAM STATISTICS</button>
      <button>TEAM ADVANCED STATISTICS</button>
     {% endif %}
  {% if league_standings == 1 %}
      <button>ATLANTIC DIVISION</button>
      <button>PACIFIC DIVISION</button>
      <button>METROPOLIAN DIVISION</button>
      <button>CENTRAL DIVISION</button>
  {% endif %}
    </div>
    <div id="maincontainer_big_table">

      <button class="table_reset">Reset sorting</button>
      <input type="search" class="light-table-filter fixed_header" data-table="order-table" placeholder="Search...">
      {% for data in specific_team_data|keys %}
        <table class="team_stats_list order-table sortable">
        <thead class="fixed_header">
        {% for indexs in specific_team_data[data][0]|keys %}
          {% if indexs != "Tm" and indexs != "Rk" and indexs != "ID"  and indexs != "Team" %}
            <th title="{{league_standings_tooltip_array[indexs]}}">{{indexs|replace({'_':' '})|upper}}</th>
          {% endif %}
        {% endfor %}
        </thead>
          <tbody>
          {% for index in specific_team_data[data]|keys %}
            <tr>
              {% for indexs in specific_team_data[data][index]|keys %}
              {% if indexs != "Tm" and indexs != "Rk" and indexs != "ID" and indexs != "Team" %}
              <td>{{specific_team_data[data][index][indexs]}}</td>
               {% endif %}
              {% endfor %}
            </tr>
          {% endfor %}  
          </tbody>  
        </table> 
      {% endfor %}
    </div>
    <br>
</div> 


{% endblock %}