{% extends '_.twig' %}

{% block main %}
               
{% if leaders == "true" %}
           	<div id="container">   
                 <div class="sort_buttons_leaders">
                    <button class="filter" data-filter=".category-s">SKATERS</button>
                    <button class="filter" data-filter=".category-g">GOALIES</button>
                    <button class="filter" data-filter=".category-all">ALL</button>
                 </div> 
                  <div class="container_main container sortable" id="leaders_mixing" >
					<div class="columns leaders_container">
							{% for index in league_leaders|keys %}
							<div class="scrollable_table_leaders mix {% if index <= 20 %}category-s{% endif %} {% if index > 20 %}category-g{% endif %} category-all">
								<div id="maincontainer">
									<div id="childcontainer">
										<table class="team_stats_list">
										<thead>
											<th title="Position">POS</th>
											{% for keys in league_leaders[index][0]|keys %}
											<th title="{{league_leaders_tooltip_array[keys]}}">{{keys|replace({"Tm": "Team"})|upper}}</th>	
											{% endfor %}
										</thead>
												<tbody>
													{% for indexs in league_leaders[index]|keys %}
														<tr>
														{% if league_leaders[indexs][index][2] == league_leaders[indexs][index-1][2] %}
														<td>{{indexs+1}}</td>
														{% endif %}
														{% if league_leaders[indexs][index][2] != league_leaders[indexs][index-1][2]  %}
														<td>{{indexs+2}}</td>
														{% endif %}
															{% for indexss in league_leaders[index][indexs] %}
																<td>{{indexss|upper}}</td>
															{% endfor %} 
														</tr>
													{% endfor %} 
												</tbody> 
										</table>
									</div>
								</div>
							</div>

							{% endfor %}  
					</div>
				</div>
			</div>

{% endif %}
{% if leaders != "true" %}
<button class="table_reset">Reset sorting</button>
	<div class="data" id="team_stats_reg">
		<div class="team_stats_table">
			<div class="scrollable_table">
			{% if count > 15 %}
				<div id="maincontainer_big_table">
						
			{% endif %}
			{% if count <= 15 %}
				<div id="maincontainer_small_table">		
			{% endif %}
			<input type="search" class="light-table-filter fixed_header" data-table="order-table" placeholder="Search...">
				<table class="team_stats_list order-table sortable" id="responsecontainer">
					<thead class="fixed_header">
						{% for keys in team_stats[0]|keys %}
						{% if keys != "ID" and keys != "Rk" %}
						<th title="{{player_stats_tooltip_array[keys]}}">{{keys|replace({'_':' '})}}</th>
						{% endif %}
						{% endfor %}
					</thead>
						<tbody>
							{% for index in team_stats|keys %}
							<tr>
							{% for key in team_stats[index]|keys %}
							{% if key != "ID" and key != "Rk" %}
							<td>{{team_stats[index][key]}}</td>
							{% endif %}
							{% endfor %}
							</tr>
							{% if index % 30 == 0 and index != 0 %}
					<tr class="info_header">
						{% for keys in team_stats[0]|keys %}
						{% if keys != "ID" and keys != "Rk" %}
						<td>{{keys|replace({'_':' '})}}</td>
						{% endif %}
						{% endfor %}
					</tr>
							{% endif %}
							{% endfor %}  
						</tbody>                         
				</table>
				
				</div>
			
		</div>
	</div>
{% endif %}

    </div>
</div>

{% endblock main %}
